.profile-img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--primary);
}

.profile-item {
  margin-bottom: .75rem;
  padding-bottom: .25rem;
  border-bottom: 1px solid var(--gray-300);
}

.profile-item-title {
  font-size: 13px;
  font-weight: 400;
  color: var(--gray-700);
  margin-bottom: 0.5rem;
}

.profile-item-info {
  font-size: 14px;
  font-weight: 700;
}
