.alert {
  position: fixed;
  top: 6rem;
  right: 2rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background: #000;
  color: #fff;
  animation: fade-in-left 0.3s cubic-bezier(.32,2,.55,.27) forwards;
}

.alert-close {
  height: 30px;
  width: 30px;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  display: inline-grid;
  place-items: center;
  background: var(--primary);
  cursor: pointer;
  transition: background 0.3s;
}

.alert-close:hover {
  background: rgba(var(--primary-rgb), 0.7);
}

@keyframes fade-in-left {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}
