.product-details .carousel .thumb {
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  overflow: hidden;
  cursor: pointer;
}

.product-details .carousel .thumb.selected,
.product-details .carousel .thumb:hover {
  border: 1px solid var(--primary);
}

.product-details .carousel .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pd-title {
  font-size: 22px;
  font-weight: 400;
  color: var(--black);
  margin: 12px 0;
}

.pd-price {
  font-size: 30px;
  font-weight: 400;
  padding: 1rem 0;
  display: inline-block;
}

.quantity-count-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.quantity-count-text {
  font-size: 14px;
  margin-right: 1rem;
}

.quantity-count-in {
  display: flex;
  align-items: stretch;
}

.quantity-count-in input {
  width: 40px;
  font-size: 14px;
  border: none;
  outline: none;
  background: var(--gray-200);
  text-align: center;
  pointer-events: none;
}

.pd-action-btns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
